@import "../../styles/mixins";

.root {
  @include full-size-percent;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid red;
  overflow: auto;

  .info {
    h2 {
      font-size: 2rem;
    }
  }

  .past_tests {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    //border: 1px solid white;
  }
}
