@use "../../../../styles/mixins";
@use "../../../../styles/vars";

.root {
	@include mixins.full-size-percent;
	overflow: auto;

	.scroll {
		width: 100%;
		min-height: 100%;

		@include mixins.flex-center-col;
		gap: 20px;

		padding: 20px;

		h1 {
			text-align: center;
		}

		.form_wrapper {
			@include mixins.flex-center-col;

			border: 1px solid white;
			border-radius: vars.$border-radius;

			background: black;

			padding-top: 10px;
		}
	}
}
