@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  @include full-size-percent;
  @include flex-center;
  flex-direction: row;
  gap: 10px;

  //border: 1px solid white;

  .link {
    text-decoration: none;
    color: white;
    div {
      border: 1px solid white;
      padding: 10px;
      border-radius: $border-radius;

      &:hover {
        background-color: $color-btn-hover;
      }
    }
  }
}
