@import "../../../../../../../../styles/vars";
@import "../../../../../../../../styles/mixins";

.root {
	@include flex-center-col;
	border-right: $grid-border;

	.edit {
		@include flex-center-col;
		padding: 5px;

		label {
			font-size: 0.9rem;
		}

		input {
			text-align: center;
		}
	}
}
