@import "../../../../styles/mixins";
@import "../../../../styles/vars";

$border: 1px solid black;
$br: 10px;
$form-bg: #ededed;

.root {
  @include full-size-percent;

  overflow: auto;

  .scroll {
    min-width: 100%;
    min-height: 100%;
    @include flex-center;

    padding-top: 20px;
    padding-bottom: 20px;

    form {
      width: 70%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;

      border-radius: $br;

      background: $form-bg;

      color: black;

      div {
        width: fit-content;
        height: fit-content;
      }

      input {
        border: 1px solid white;
        border-radius: $br;
        background: rgba($color: #b7b6b6, $alpha: 1);

        color: black;
        text-align: center;
      }

      .range {
        display: grid;
        grid-template-columns: 1fr 4rem 1fr;

        padding: 10px;

        div {
          @include flex-center-col;

          input {
            width: 100%;
            height: 6rem;

            font-size: 2.5rem;
            font-weight: bold;
          }
        }

        .div {
          width: 100%;

          font-size: 4rem;
          text-align: center;
        }
      }

      .ops {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, 25%);

        border: 1px solid $form-bg;

        div {
          width: 100%;
          height: 100%;
          @include flex-center-col;

          border-right: 1px solid $form-bg;

          font-size: 4rem;
          font-weight: 900;

          color: white;

          backdrop-filter: blur(2rem);
          -webkit-backdrop-filter: blur(2rem);

          &:hover {
            cursor: pointer;
          }

          &:last-of-type {
            border: none;
          }
        }

        .checked {
          background: green;

          color: rgba($color: #fff, $alpha: 1);
        }

        .unchecked {
          background: $main-bg;

          color: rgba($color: #fff, $alpha: 0.5);
        }
      }

      .limits {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        border: 1px solid $form-bg;

        div {
          width: 100%;
          @include flex-center-col;

          font-size: 4rem;

          padding: 10px;

          &:first-of-type {
            border-right: 1px solid $form-bg;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .checked {
          background: green;

          color: rgba($color: #fff, $alpha: 1);
        }

        .unchecked {
          background: $main-bg;

          color: rgba($color: #fff, $alpha: 0.5);
        }
      }
    }

    button {
      width: 100%;
      height: 2rem;

      border-bottom-left-radius: $br;
      border-bottom-right-radius: $br;

      border: none;
    }
  }
}
