@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  .bar {
    min-width: 80%;
    max-width: 95%;
    height: 60px;

    display: flex;
    flex-wrap: nowrap;

    border: 1px solid white;
    border-radius: 10px;

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    backdrop-filter: blur(2px);

    .icon {
      font-size: 2rem;
    }

    .logo {
      @include flex-center;

      width: 75px;
      height: 100%;

      background: black;
      color: $color-navbar-title;

      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      .icon {
        width: 40px;
        height: 40px;

        border: 1px solid white;
        border-radius: 5px;
      }
    }

    .links {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-around;

      overflow: auto;

      .link {
        @include flex-center;

        width: 50px;
        height: 50px;

        text-decoration: none;
        border-radius: 10px;

        background: green;
        color: white;

        &:hover {
          background: rgb(114, 162, 114);
        }
      }

      // .teacher {
      //   background: rgb(77, 77, 194);

      //   &:hover {
      //     background: rgb(120, 120, 218);
      //   }
      // }
    }
  }
}

@media only screen and (min-width: 800px) {
  .root {
    @include flex-center;

    width: 70px;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    .bar {
      min-width: fit-content;
      max-width: fit-content;
      min-height: 80%;
      max-height: 90%;

      flex-direction: column;

      position: static;

      transform: none;

      .logo {
        width: 60px;
        height: fit-content;

        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;

        padding-bottom: 10px;
        padding-top: 10px;

        .icon {
          margin: 0px;
        }
      }

      .links {
        @include full-size-percent;
        flex-direction: column;
        flex-grow: 1;

        //border: 1px solid white;
      }
    }
  }
}
