@import "../../../../../../styles/mixins";
@import "../../../../../../styles/vars";

.root {
	@include full-size-percent;
	display: flex;
	flex-direction: column;
	background: $main-bg;

	overflow: hidden;

	.row {
		width: 100%;
		@include flex-center-row;

		display: grid;
		grid-template-columns: 60% 40%;

		background: $grid-bg;

		border-bottom: $grid-border;
		border-left: $grid-border;
		border-right: $grid-border;

		div {
			width: 100%;
			@include flex-center-row;

			border-right: $grid-border;

			&:last-of-type {
				border: none;
			}
		}
	}

	.top {
		width: 100%;
		height: fit-content;

		text-align: center;

		background: $main-bg;

		.info {
			font-size: 2rem;
			background: $main-bg;
		}

		.headers {
			background: $grid-header-bg;

			border: $grid-border;
		}
	}

	.students {
		width: 100%;
		height: 100%;

		overflow: auto;

		.scroll {
			width: 100%;
			flex-direction: column;
		}
	}
}

@media only screen and (min-width: $mobile-width) {
	.root .scroll .row:hover {
		cursor: pointer;

		background: lightgrey;
	}
}
