@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
	@include full-size-percent;
	display: flex;
	flex-direction: column;
	align-items: center;

	.links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		height: 75%;
		width: 100%;
		//border: 1px solid white;

		.link {
			border-radius: $border-radius;
			text-decoration: none;
			color: white;
			&:hover {
				background-color: $color-btn-hover;
			}
			div {
				border: 1px solid white;
				padding: 10px;
				border-radius: $border-radius;

				font-size: 1.5rem;

				&:hover {
					background-color: $color-btn-hover;
				}
			}
		}
	}
}
