@use "../../../../../../styles/vars";
@use "../../../../../../styles/mixins";

.root {
	@include mixins.full-size-percent;

	overflow: auto;

	.scroll {
		width: 100%;
		min-height: 100%;

		@include mixins.flex-center-col;
		gap: 50px;

		padding: 20px;

		.words {
			width: 100%;
			@include mixins.flex-center-col;

			div {
				width: 70%;

				font-size: 4rem;
				font-weight: 900;
				text-align: center;
			}
		}

		.get_started {
			width: 100%;
			@include mixins.flex-center-col;

			#start {
				max-width: 40%;
				font-size: 2rem;
				text-align: center;

				background: vars.$btn-brand-bg;
				border-radius: 15px;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 5px;
				padding-bottom: 5px;

				&:hover {
					cursor: pointer;

					background: vars.$logo-accent;
				}
			}
		}
	}
}

.accent {
	color: vars.$logo-accent;
}

@media only screen and (max-width: 900px) {
	.root .scroll {
		.words div {
			font-size: 3rem;
			width: 95%;
		}

		.get_started #start {
			max-width: 50%;
		}
	}
}

@media only screen and (max-width: 500px) {
	.root .scroll {
		.words div {
			font-size: 3rem;
			width: 95%;
		}

		.get_started #start {
			max-width: 90%;
		}
	}
}
