@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
	max-height: 100%;

	background: $grid-bg;

	overflow: hidden;

	border: $grid-border;

	.scroll {
		max-height: 100%;

		overflow: auto;
	}

	.row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;

		border-top: $grid-border;

		div {
			text-align: center;
		}

		.date {
			min-width: 8rch;

			border-right: $grid-border;
		}

		.score {
			border-right: $grid-border;
			min-width: 8rch;
		}

		.count {
			border-right: $grid-border;

			min-width: 7rch;
		}

		.time {
			border-right: $grid-border;
			min-width: 5rch;
		}

		.range {
			display: grid;
			grid-template-columns: repeat(2, 50%);

			span {
				border-right: $grid-border;

				min-width: 5rch;
			}
		}

		.limit {
			min-width: 7rch;

			@include flex-center-row;

			border-right: $grid-border;
		}

		.ops {
			display: flex;
			justify-content: space-between;

			span {
				min-width: 3rch;
				width: 100%;

				text-align: center;

				border-right: $grid-border;

				&.checked {
					background: green;
				}

				&.unchecked {
					background: red;
				}

				&:last-of-type {
					border: none;
				}
			}
		}

		&.headers {
			border-bottom: $grid-border;

			position: sticky;
			top: 0;

			background: $grid-header-bg;

			color: black;
			font-size: 1.2rem;
			font-weight: bold;

			.limit {
				@include flex-center-col;
			}
		}
	}
}
