@import "../../../../../../styles/vars";
@import "../../../../../../styles/mixins";

.root {
	width: 100%;
	display: flex;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	.box {
		@include flex-center-col;
		border-right: $grid-border;
	}

	.buttons {
		@include flex-center-row;
		justify-content: space-around;

		span {
			cursor: pointer;

			position: relative;

			.icon {
				font-size: 1.5rem;
			}

			#delete {
				font-size: 1.6rem;
				color: red;
			}

			#edit {
				color: yellowgreen;
			}

			#reset {
				color: blue;
				font-size: 1.8rem;

				transform: translateY(2px);
			}

			.context {
				display: none;
			}
		}
	}
}

@media only screen and (min-width: $mobile-width) {
	.root .buttons span:hover {
		.context {
			background: $main-bg;
			position: absolute;
			z-index: 30;
			display: block;

			transform: translateX(-25%);

			border-radius: 10px;
			padding: 5px;
		}

		#delete {
			color: grey;
		}

		#edit {
			color: grey;
		}

		#reset {
			color: grey;
		}
	}
}
